<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.graphiti.ui.diagramTypes">
      <diagramType
            name="Dialogue Diagram Type"
            type="dialogue"
            description="Dialogue Editor"
            id="de.dfki.iui.mmds.core.graphiti.diagram.dialogue.dialogueDiagramType">
      </diagramType>
   </extension>
   <extension
         point="org.eclipse.graphiti.ui.diagramTypeProviders">
      <diagramTypeProvider
            name="Dialogue Diagram Type Provider"
            description="Dialogue Editor"
            class="de.dfki.iui.mmds.core.graphiti.diagram.dialogue.diagram.DialogueDiagramTypeProvider"
            id="de.dfki.iui.mmds.core.graphiti.diagram.dialogue.diagram.DialogueDiagramTypeProvider">
         <diagramType
               id="de.dfki.iui.mmds.core.graphiti.diagram.dialogue.dialogueDiagramType">
         </diagramType>
         <imageProvider
            id="de.dfki.iui.mmds.core.graphiti.diagram.dialogue.util.DialogueImageProvider">
      	</imageProvider>
      	<imageProvider
               id="org.eclipse.graphiti.examples.common.ExampleImageProvider">
         </imageProvider>
      </diagramTypeProvider>
   </extension>
   <extension
         point="org.eclipse.graphiti.ui.imageProviders">
      <imageProvider
            class="de.dfki.iui.mmds.core.graphiti.diagram.dialogue.util.DialogueImageProvider"
            id="de.dfki.iui.mmds.core.graphiti.diagram.dialogue.util.DialogueImageProvider">
      </imageProvider>
   </extension>
   <extension
         id="prop-contrib"
         point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
      <propertyContributor
            contributorId="dialogue.PropertyContributor">
         <propertyCategory
               category="dialogue">
         </propertyCategory>
      </propertyContributor>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs
            contributorId="dialogue.PropertyContributor">
         <propertyTab
               category="dialogue"
               id="dialogue.tab.main"
               label="Main">
         </propertyTab>
         <propertyTab
               afterTab="dialogue.tab.main"
               category="dialogue"
               id="dialogue.tab.variables"
               label="Variables">
         </propertyTab>
         <propertyTab
               afterTab="dialogue.tab.variables"
               category="dialogue"
               id="dialogue.tab.plugins"
               label="Plugins">
         </propertyTab>/propertyTab>
      </propertyTabs>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections
            contributorId="dialogue.PropertyContributor">
         <propertySection
               class="org.eclipse.ui.views.properties.tabbed.AdvancedPropertySection"
               filter="de.dfki.iui.mmds.core.graphiti.diagram.dialogue.property.AdvancePropertyFilter"
               id="dialogue.tab.main.main"
               tab="dialogue.tab.main">
         </propertySection>
         <propertySection
               class="de.dfki.iui.mmds.core.graphiti.diagram.dialogue.property.DailogueVariablesSection"
               filter="de.dfki.iui.mmds.core.graphiti.diagram.dialogue.property.VariablePropertyFilter"
               id="dialogue.tab.variables.variable"
               tab="dialogue.tab.variables">
         </propertySection>
         <propertySection
               class="org.eclipse.ui.views.properties.tabbed.AdvancedPropertySection"
               filter="de.dfki.iui.mmds.core.graphiti.diagram.dialogue.property.OutputRequestFilter"
               id="dialogue.tab.main.main"
               tab="dialogue.tab.main">
         </propertySection>
         <propertySection
               class="de.dfki.iui.mmds.core.graphiti.diagram.dialogue.property.DailogueJavaPluginsSection"
               filter="de.dfki.iui.mmds.core.graphiti.diagram.dialogue.property.PluginPropertyFilter"
               id="dialogue.tab.plugin.plugins"
               tab="dialogue.tab.plugins">
         </propertySection>
      </propertySections>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="de.dfki.mmds.editor.Wizard.category.ID"
            name="Siam DP">
      </category>
      <wizard
            category="de.dfki.mmds.editor.Wizard.category.ID"
            class="de.dfki.iui.mmds.core.graphiti.diagram.dialogue.wizard.CreateDialogueDiagramWizard"
            finalPerspective="org.eclipse.graphiti.examples.common.perspective.GFPerspective"
            icon="icons/editor.png"
            id="de.dfki.iui.mmds.core.graphiti.diagram.dialogue.CreateNewDiagram"
            name="Dialogue Editor">
         <description>
            Create new Dialogue Editor
         </description>
         <selection
               class="org.eclipse.core.resources.IContainer">
         </selection>
      </wizard>
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="org.eclipse.graphiti.ui.platform.GraphitiConnectionEditPart"
            class="de.dfki.iui.mmds.core.graphiti.diagram.dialogue.property.ConnectionEditPartToIPropertySourceAdapterFactory">
         <adapter
               type="org.eclipse.ui.views.properties.IPropertySource">
         </adapter>
      </factory>
      <factory
            adaptableType="org.eclipse.graphiti.ui.platform.GraphitiShapeEditPart"
            class="de.dfki.iui.mmds.core.graphiti.diagram.dialogue.property.ShapeEditPartToIPropertySourceAdapterFactory">
         <adapter
               type="org.eclipse.ui.views.properties.IPropertySource">
         </adapter>
      </factory>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="de.dfki.iui.mmds.core.graphiti.diagram.dialogue.commands.createDiagramWithAllClasses"
            name="Create Diagram with all classes">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="de.dfki.iui.mmds.core.graphiti.diagram.dialogue.handlers.CreateDiagramWithAllClassesHandler"
            commandId="de.dfki.iui.mmds.core.graphiti.diagram.dialogue.commands.createDiagramWithAllClasses">
         <enabledWhen>
            <reference
                  definitionId="de.dfki.iui.mmds.core.graphiti.diagram.dialogue.DialogueFileSelected">
            </reference>
         </enabledWhen>
         <activeWhen>
            <reference
                  definitionId="de.dfki.iui.mmds.core.graphiti.diagram.dialogue.DialogueFileSelected">
            </reference>
         </activeWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.ui.navigator.ProjectExplorer#PopupMenu?after=additions">
         <command
               commandId="de.dfki.iui.mmds.core.graphiti.diagram.dialogue.commands.createDiagramWithAllClasses"
               icon="icons/addDiagram.png"
               style="push">
            <visibleWhen
                  checkEnabled="true">
               <reference
                     definitionId="de.dfki.iui.mmds.core.graphiti.diagram.dialogue.DialogueFileSelected">
               </reference>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            allPopups="true"
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="de.dfki.iui.mmds.core.graphiti.diagram.dialogue.toolbar1"
               label="Create">
            <command
                  commandId="de.dfki.iui.mmds.core.graphiti.diagram.dialogue.commands.createDiagramWithAllClasses"
                  icon="icons/addDiagram.png"
                  style="push">
               <enabledWhen>
	            <reference
	                     definitionId="de.dfki.iui.mmds.core.graphiti.diagram.dialogue.DialogueFileSelected">
	               </reference>
	         </enabledWhen>
            </command>
         </toolbar>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewerContentBinding
            viewerId="org.eclipse.ui.navigator.ProjectExplorer">
         <includes>
            <contentExtension
                  isRoot="false"
                  pattern="de.dfki.iui.mmds.core.graphiti.diagram.dialogue.navigatorContent">
            </contentExtension>
         </includes>
      </viewerContentBinding>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <navigatorContent
            contentProvider="de.dfki.iui.mmds.core.graphiti.diagram.dialogue.navigator.GFEmfTreeContentProvider"
            id="de.dfki.iui.mmds.core.graphiti.diagram.dialogue.navigatorContent"
            labelProvider="de.dfki.iui.mmds.core.graphiti.diagram.dialogue.navigator.GFEmfLabelProvider"
            name="%navigatorContent.name"
            priority="higher">
         <triggerPoints>
            <or>
               <instanceof
                     value="org.eclipse.core.resources.IProject">
               </instanceof>
            </or>
         </triggerPoints>
         <actionProvider
               class="de.dfki.iui.mmds.core.graphiti.diagram.dialogue.util.RenameActionProvider">
            <enablement>
               <and>
                  <instanceof
                        value="org.eclipse.emf.ecore.EClass">
                  </instanceof>
               </and>
            </enablement>
         </actionProvider>
         <possibleChildren>
            <or>
               <instanceof
                     value="de.dfki.iui.mmds.core.graphiti.diagram.dialogue.navigator.nodes.EClassesNode">
               </instanceof>
               <instanceof
                     value="org.eclipse.emf.ecore.EClass">
               </instanceof>
            </or>
         </possibleChildren>
         <commonWizard
               type="new"
               wizardId="org.eclipse.graphiti.examples.ui.CreateDiagramWizard">
            <enablement>
               <adapt
                     type="org.eclipse.core.resources.IProject">
                  <test
                        property="org.eclipse.core.resources.projectNature"
                        value="org.eclipse.graphiti.examples.examplesnature">
                  </test>
               </adapt>
            </enablement>
         </commonWizard>
      </navigatorContent>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="de.dfki.iui.mmds.core.graphiti.diagram.dialogue.DialogueFileSelected">
         <and>
            <count
                  value="1">
            </count>
            <iterate>
               <adapt
                     type="org.eclipse.core.resources.IResource">
                  <test
                        property="org.eclipse.core.resources.name"
                        value="*.dialogue">
                  </test>
               </adapt>
            </iterate>
         </and>
      </definition>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="de.dfki.iui.mmds.core.graphiti.diagram.dialogue.features.exec_content.ExecutableContentEditorPart"
            contributorClass="de.dfki.iui.mmds.core.model.dialogue.presentation.DialogueActionBarContributor"
            id="de.dfki.iui.mmds.core.graphiti.diagram.dialogue.editor1"
            name="Executable Content Editor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.views">
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="de.dfki.iui.mmds.core.graphiti.diagram.dialogue.GraphitiDialogEditor"
            extensions="diagram"
            icon="icons/editor.png"
            id="de.dfki.iui.mmds.core.graphiti.diagram.dialogue.GraphitiDialogEditor"
            name="%_UI_GraphitiDialogEditor_label">
      </editor>
   </extension>
   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            id="de.dfki.iui.mmds.core.graphiti.diagram.dialogue.content-type1"
            name="name"
            priority="normal">
      </content-type>
   </extension>
</plugin>
