<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="example_application"
         name="Example Application"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            thread="main"
            visible="true">
         <run
               class="de.dfki.iui.example_application.HelloWorldApp">
         </run>
      </application>
   </extension>

</plugin>
